
body {
    margin: 0;
    font-size: 14px;
    font-family: Charter;
    color: #333;
    background: #B3E5FC;
}
header {
    height: 64px;
    background: #4FC3F7;
    z-index: 5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px rgb(63, 158, 202);
}
.head-title {
    margin: 0;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0.8;
}
ul {
    list-style: none;
    padding:0;
}
a {
    text-decoration: none;
}
.overlay {
    content: '';
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 3;
  }
  .overlay::after {
    visibility: hidden;
    position: fixed;
    top: 40%;
    left: 0;
    display: block;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .side-open .overlay {
    visibility: visible;
    cursor: pointer;
    background: rgba(0,0,0,.7);
  }
  .side-open .overlay::after {
    visibility: visible;
    color: rgba(255,255,255,.8);
  }

  .side-menu {
    position: fixed;
    top: 30%;
    right: 25%;
    height: 100%;
    z-index: 1;
  }
  .menu-link {
      color: #333;
      font-size: 16px;
      text-align: center;
  }
  li {
    padding: 20px 0;
  }
  .side-menu-btn {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    z-index: 4;
    color: #FF6D00;
    font-size: 36px;
  }


  /* メインコンテンツ */
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
  }

  /* サイドメニューオープン */
  .side-open .wrapper,
  .side-open .overlay {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }


  .user-container {
    width: 90%;
    height: 680px;
    background: #E1F5FE;
    margin: 36px auto;
    border-radius: 4px;
    box-shadow: 0 6px 6px rgb(63, 158, 202);

}
.backimage {
    width: 100%;
    height: 180px;
}
.usericon {
    width: 120px;
    height: 115px;
    border-radius: 50%;
    position: absolute;
    left:34%;
    top: 9%;
    border: 2px solid #333
}
.information {
    font-weight: bold;
    font-size: 18px;
}
p {
    margin: 0;
}
.user-information {
    margin: 42px 0 0 20px;
}
.fab {
    font-size: 36px;
}
.tag {
    margin: 2px 0 2px 0;
}
.repository-area {
    margin: 10px 0 0 0;
}
.github {
    color: #333;
    margin: 0 10px 0 0;
}
.gitlub {
    color: #FF6D00;
}
.career-area {
    width: 90%;
    height: 100px;
    border: 2px solid #333;
    margin: 20px auto 0 auto;
    border-radius: 6px;
}
.vision-area {
    width: 90%;
    height: 100px;
    border: 2px solid #333;
    margin: 10px auto 0 auto;
    border-radius: 6px;
}
.c-title {
    padding: 4px 0 0 4px;
    font-weight: bold;
}
.tx {
    text-align: left;
    padding: 4px;

}
.skills-container {
    width: 90%;
    height: 380px;
    background: #E1F5FE;
    margin: 36px auto;
    border-radius: 4px;
    box-shadow: 0 6px 6px rgb(63, 158, 202);
}
.works-container {
    width: 90%;
    height: 380px;
    background: #E1F5FE;
    margin: 36px auto;
    border-radius: 4px;
    box-shadow: 0 6px 6px rgb(63, 158, 202);
}
.contacts-container {
    width: 98%;
    height: 580px;
    background: #E1F5FE;
    border-radius: 4px;
}

.skills-title {
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 28px;
}
.contacts-title {
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 28px;
}
.frontend-area {
    display: flex;
    border-bottom: 1px solid #FF9100
    ;
    width: 40%;
    margin: 0 auto;
}
.backend-area {
    display: flex;
    border-bottom: 1px solid #FF9100
    ;
    width: 40%;
    margin: 30px auto 0 auto;
}
.version-area {
    display: flex;
    border-bottom: 1px solid #FF9100
    ;
    width: 60%;
    margin: 30px auto 0 auto;
}
.others-area {
    display: flex;
    border-bottom: 1px solid #FF9100
    ;
    width: 40%;
    margin: 30px auto 0 auto;
}
.frontend-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 16px 0;
}
.backend-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 16px 0;
}
.version-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 16px 0;
}
.others-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 16px 0;
}
.fa-caret-down {
    padding: 0 20px 0 0;
    font-size: 24px;
}
.frontend-slide {
    display: none;
}
.backend-slide {
    display: none;
}
.version-slide {
    display: none;
}
.others-slide {
    display: none;
}
.skill-icon {
    width: 60px;
    height: 60px;
    padding: 20px 0 0 10px;
}
.html-css-area {
    display: flex;
    margin: 10px 0 0 0;
}
.skill-tx {
    padding: 16px 16px 10px 16px;
}
.border {
    width: 80%;
    border: 1px solid rgb(206, 204, 204);
}
form {
    text-align: center;
}
.form-tag {
    padding: 0 160px 0 0 ;
}
.form-name {
    font-size: 18px;
    margin: 20px 0 16px 0;
    width: 70%;
}
.form-email {
    font-size: 18px;
    margin: 20px 0 16px 0;
    width: 70%;
}
.form-text {
    margin: 10px 0 20px 0;
    width: 70%;

}
.send {
    width: 120px;
    height: 40px;
    background:#FF9100;
    color: #ddd;
    border: none;
    font-size: 18px;
    margin: 10px 0 0 0;
    box-shadow: 0 6px 6px #FF6D00;
}
